MYSQL_DATABASE=yourDatabase
MYSQL_DATABASE_HOST=yourDatabaseHost

MYSQL_ROOT_USERNAME=yourRootUsername
MYSQL_ROOT_PASSWORD=yourRootPassword

MYSQL_NORMAL_USERNAME=yourNormalUsername
MYSQL_NORMAL_PASSWORD=yourNormalPassword

DATABASE_URL=mysql://${MYSQL_ROOT_USERNAME}:${MYSQL_ROOT_PASSWORD}@database:3306/${MYSQL_DATABASE}